<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open Hacks</title>
  </head>
  <body>
    <div id="background">
      <div class="jumbotron col-md-12 container">
        <div class="container" id="header">
          <h1>Welcome to Open Hacks</h1>
        </div>
        <div class="container" id="subheader">
          <p> A place where you are able to vote for you favorite hackathons!</p>
        </div>
      </div>
    </div>
  </body>
</html>
