
<body id="bg">
  <div>
    <div class="container12">
      <ul id="scene">
        <li class="layer" id="logo" data-depth="0.40"><img src="/images/new-logo.png" alt="logo" /></li>
        <li class="layer" id="l1" data-depth="0.20"><img src="/images/layer-1.png" alt="layer" /></li>
        <li class="layer" id="l2" data-depth="0.60"><img src="/images/city.png" alt="layer" /></li>
          <div id="homepage">
            <div class="col-md-12 container">
              <div class="container" id="header">
                <h1>Welcome to Open Hacks</h1>
              </div>
              <div class="container" id="subheader">
                <p> A place where you are able to vote for you favorite hackathons!</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
<!-- Scripts -->
  <script src="/parallax.min.js"></script>
  <script>

  // Pretty simple huh?
  var scene = document.getElementById('scene');
  var parallax = new Parallax(scene);

  </script>
</body>
