<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open Hacks</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/hackathons">Hackathons <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li><a href="/hackathons/new">Add Hackathon</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </nav>
    <div class="container" id="editform">
      <%= yield %>
    </div>
  </body>
</html>
