<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open Hacks</title>
  </head>
  <body>
    <h2>Welcome to Open Hacks</h2>
    <p> A place where you are able to vote for you favorite hackathons!</p>
    <%= yield %>
  </body>
</html>
