<h2>Hackathons</h2>

<div class="hackathons">
  <% @hackathons.each do | hackathon | %>
  <div class="row">
    <ul>
      <li>
        <h2>
          <a href="/hackathons/<%= hackathon.id %>">
            Hackathon <%= hackathon.title %>
          </a>
          <!-- <form action="/hackathons/<%= hackathon.id %>/delete" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete?">
          </form> -->
        </h2>
      </li>
    </ul>
  </div>
  <% end %>
</div>
