<h2>New Hackathon</h2>

<form action="/hackathons" method="post">
  <label for="hackathon[title]">Title:</label>
  <input name="hackathon[title]">

  <label for="hackathon[location]">Location:</label>
  <input name="hackathon[location]">

  <label for="hackaton[description]">Description:</label>
  <input name="hackathon[description]">

  <label for="hackathon[date]">Date of Event:</label>
  <input name="hackathon[date]">

  <label for="hackathon[image]">Logo:</label>
  <input name="hackathon[image]">

  <input type="submit" value="Create">
</form>
