<div class="jumbotron">
  <h2>{ New Hackathon }</h2>
</div>
<div class="jumbotron">
  <form action="/hackathons" method="post">
    <div class="container">
      <label for="hackathon[title]">{ Title }</label><br>
      <input name="hackathon[title]" class="form" id="formTitle">
    </div>
    <div class="container">
      <label for="hackathon[location]">{ Location }</label><br>
      <input name="hackathon[location]" class="form" id="formLocation">
    </div>
    <div class="container">
      <label for="hackaton[description]">{ Description }</label><br>
      <textarea name="hackathon[description]" class="form-control" rows="3"></textarea>
    </div>
    <div class="container">
      <label for="hackathon[date]">{ Date of Event }</label><br>
      <input name="hackathon[date]" class="form" id="formDate">
    </div>
    <div class="container">
      <label for="hackathon[image]">{ Url to Logo }</label><br>
      <input name="hackathon[image]" class="form" id="formImage">
    </div>
    <br><button type="submit" class="btn btn-primary">Create Hackathon</button>
  </form>
</div>
