@media (max-width: 400px) {
  .image {
    max-width: 100px !important;
    max-height: 100px !important;
  }
}
p {
  font-size: 18px !important;
}
body {
  background-color: #505050 !important;
}
.container {
  color: #e6e6e6;
}
.jumbotron {
  background-color: rgba(56, 56, 56, 0.77) !important;
}
.newform {
  font-size: 18px;
}
.col-md-1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.image {
  max-width: 200px;
  max-height: 200px;
  align: center !important;
}
.title {
  padding-left: 25px !important;
  padding-bottom: 25px !important;
}
.row {
  padding-bottom: 25px !important;
}
.description {
  text-overflow: ellipsis;
  width: 550px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 0px;
}
.hackImage {
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
}
.lnavbar {
  color: rgba(139, 255, 199, 0.77) !important;
}
#l2 {
  text-align: center;
  margin-left: 100px;
  margin-top: 350px;
}
#bg {
  background: #000 url(images/bg-new.png) no-repeat top center !important;
  height: 700px;
}
#logo {
  text-align: center;
}
#title {
  margin-top: 0px !important;
}
#points {
  font: 25px;
  text-align: center;
}
#arrows {
  text-align: center;
  font-size: 25px;
}
#arrowUp {
  background-color: #383838;
  font-size: 25px;
}
#arrowDown {
  background-color: #383838;
  font-size: 25px;
}
#header {
  font-size: 75px;
  color: white;
}
#subheader {
  color: white;
}
#homepage {
  margin-left: 100px;
  margin-top: 75px;
}
#editButton {
  margin-bottom: 10px;
  width: 150px;
}
#profileTitle {
  margin-bottom: 50px;
}
#profileVotes {
  margin-top: 25px;
}
#formDescription {
  height: 200px;
}
#navbar {
  background-color: rgba(56, 56, 56, 0.3);
  border: 0 !important;
}
#formTitle {
  color: black;
}
#formLocation {
  color: black;
}
#formDes {
  color: black;
}
#formDate {
  color: black;
}
#formImage {
  color: black;
}
